
.footer-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
  }
  .lgeu{
    width: 100%;
  }

  .hver{
    opacity: 1; 
    transition: opacity 0.3s ease; 
  }
  .mgb{
    margin-bottom: 10px;
  }
.hver:hover {
    opacity: 0.7; 
}
.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 9px -1px rgba(0, 0, 0, 0.3);
  }


  /* Estilos para pantallas más grandes */
  @media (min-width: 768px) {
    .footer {
      bottom: 0;
      left: 0;
    }
    .sizefoot{
      width: 70%;
    }
  }
  @media (max-width: 565px) {

    .sizefoot{
      width:280px;
    }
  }
  
  /* Estilos para pantallas más pequeñas */
